:root .theme_light {
  --bg-color: #fff1f7;
  --accent-color: #ff8dcb;
  --accent-decor-color: #353430;
  --title-text-color: #ffc2e6;
  --main-text-color: #353430;
  --accent-text-color: #353430;
  --font-family: IBM Plex mono, sans-serif;
  --accent-decor-color-opacity04: rgba(50, 49, 45, 0.4);
}

.page.theme_light {
  background-image: url(../images/cover-image-light.png);
}

.page.theme_light .rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --accent-color: #ff8dcb;
    --accent-decor-color: #353430;
    --title-text-color: #ffc2e6;
    --main-text-color: #353430;
    --accent-text-color: #353430;
    --font-family: IBM Plex mono, sans-serif;
  }

  .page {
    background-image: url(../images/cover-image-light.png);
  }

  .page .rec {
    display: none;
  }
}
